p {
  font-family: Lato;
}

ngb-rating {
  position: absolute;
  top: 10px;
  color: #2e5893;
  font-size: 30px;
}

.star {
  position: relative;
  display: inline-block;
  font-size: 3rem;
  color: #d3d3d3;
}
.full {
  color: red;
}
.half {
  position: absolute;
  display: inline-block;
  overflow: hidden;
  color: red;
}

