<div class="optionsBtnContainer">

  <!-- EDIT STORY DETAILS -->
  <div class="optionsBtnIcon fullSize">
    <fa-icon [icon]="faPencilAlt" class="fa-2x"></fa-icon>
  </div>

  <!-- DOWNLOAD -->
  <div class="optionsBtnIcon">
    <fa-icon [icon]="faDownload" class="fa-2x"></fa-icon>
  </div>

  <!-- FEEDBACK -->
  <div class="optionsBtnIcon">
    <fa-icon [icon]="faCommentDots" class="fa-2x"></fa-icon>
  </div>

  <!-- DICTIONARY -->
  <div class="optionsBtnIcon">
    <fa-icon [icon]="faBook" class="fa-2x"></fa-icon>
  </div>

  <!-- AUDIO CHECK -->
  <div class="optionsBtnIcon">
    <fa-icon [icon]="faVolumeUp" class="fa-2x"></fa-icon>
  </div>

  <!-- INLINE GRAMMAR CHECK -->
  <div class="optionsBtnIcon">
    <fa-icon [icon]="faSpellCheck" class="fa-2x"></fa-icon>
  </div>

  <!-- RECORDINGS -->
  <div class="optionsBtnIcon">
    <fa-icon [icon]="faMicrophone" class="fa-2x"></fa-icon>
  </div>

</div>
