.optionsBtnContainer {
  position: relative;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 0.75em;
  width: 100%;
  min-width: 300px;
  background-color: #4f86f9;
  color: white;
}

.optionsBtnIcon {
  position: relative;
}

.optionsBtnIcon:hover {
  cursor: pointer;
  color: blue;
}
