/*have to be imported here - https://github.com/KillerCodeMonkey/ngx-quill/issues/132*/
@import '~quill/dist/quill.core.css';
@import '~quill/dist/quill.bubble.css';
@import '~quill/dist/quill.snow.css';

body {
  display: block;
  margin: 0px;
}

.b {
  border: 1px dashed black;
}
.r {
  border: 1px dashed red;
}

.full-height {
  position: relative;
  height: 100%;
}

.full-size {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

.center-all {
  display: flex;
  align-items: center;
  justify-content: center;
}
